---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  {% for item in siteContent.pages %}
    {% if not item.noindex %}<url><loc>{{ item.url | absoluteUrl | xmlEscape }}</loc><lastmod>{{ item.modified }}Z</lastmod></url>{% endif %}
  {% endfor %}
  <url><loc>{{ '/category/nekategorizirano/' | absoluteUrl | xmlEscape }}</loc></url>
</urlset>
